@import "./reset.css";

/* lato regular */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/Lato-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Lato-Regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Lato-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* lato medium */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Lato-Medium.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/Lato-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Lato-Medium.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Lato-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* lato bold */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/Lato-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Lato-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Lato-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/*===== variables =====*/

:root {
  --font-dark: #102746;
  --font-light: #fff;
  --color-blue: #1b7dff;
  --color-light-blue: #006dfe;
}

/*===== main styles =====*/

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--font-dark);
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: var(--font-dark);
}

.more__link {
  width: max-content;
  display: flex;
  align-items: center;
  & span {
    margin-right: 26px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-light-blue);
  }

  & img {
    transition: all 0.2s linear;
  }

  &:hover img {
    transform: translateX(10px);
  }
}

/*===== intor styles =====*/

.intro {
  padding: 60px 0 372px;
  background: linear-gradient(
      180deg,
      rgba(53, 66, 103, 0.0001) 0%,
      #151824 95.04%
    ),
    url("./../images/intro-bg.png") center/cover no-repeat;
}

.intro__container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 30px;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__logo {
  position: relative;
  width: 102px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  & a {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.intro__menu {
  width: 45.8%;
}

.wide__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__link {
  & a {
    position: relative;
    color: var(--font-light);
    font-size: 18px;
    outline: none;
  }

  & a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--font-light);
    opacity: 0;

    transition: all 0.2s linear;
  }

  & a:hover::after {
    opacity: 1;
  }
}

.burger__menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  width: 70%;
  height: 100%;
  padding: 60px 20px 20px 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--font-light);
  transition: transform 0.4s ease-in-out;

  &.active {
    transform: translateX(140%);
  }
}

.burger__logo {
  width: 102px;
  margin-bottom: 30px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.burger__list {
  & li {
    margin-bottom: 20px;
  }
}

.burger__link {
  font-size: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.intro__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 14px;
  z-index: 1000000;
}

.intro__burger span {
  position: absolute;
  background-color: var(--font-light);
  left: 0;
  width: 100%;
  height: 2px;
  top: 6px;
  transition: all 0.3s ease 0s;
}

.intro__burger:before,
.intro__burger:after {
  content: "";
  background-color: var(--font-light);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.intro__burger:before {
  top: 0;
}
.intro__burger:after {
  bottom: 0;
}

.intro__burger.active:before {
  transform: rotate(45deg);
  top: 6px;
}

.intro__burger.active:after {
  transform: rotate(-45deg);
  bottom: 6px;
}

.intro__burger.active span {
  transform: scale(0);
}

.intro__main {
  padding-top: 176px;
}

.intro__title {
  max-width: 620px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: var(--font-light);
}

.intro__subtitle {
  max-width: 550px;
  margin-bottom: 54px;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-light);
}

.intro__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intro__what,
.intro__where {
  min-width: 297px;
  margin-right: 60px;
}

#checkbox-what,
#checkbox-where {
  display: none;

  &:checked + .checkbox__btn div {
    display: block;
  }
}

.checkbox__btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-right: 23px;
  align-items: center;
  border: 2px solid var(--font-light);
  border-radius: 50%;

  & div {
    display: none;
    width: 10px;
    height: 10px;
    background-color: var(--font-light);
    border-radius: 50%;
  }
}

.input__block {
  display: flex;
  align-items: center;

  & label {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--font-light);
    cursor: pointer;
  }
}

.intro__input {
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  color: var(--font-light);
}

.search__btn {
  width: 171px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--font-light);
  background-color: var(--color-blue);
  border: none;
  appearance: none;
  transition: all 0.2s linear;

  &:hover {
    background-color: var(--color-light-blue);
  }
}

/*===== benefits styles =====*/

.benefits {
  padding: 136px 0 131px;
}

.benefits__wrapper {
  padding: 93px 100px 112px;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  margin-bottom: 120px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
}

.benefits__icon {
  margin-bottom: 37px;
  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.benefits__item:first-child .benefits__icon {
  width: 66px;
  height: 66px;
}

.benefits__item:nth-child(2) .benefits__icon {
  width: 65px;
  height: 65px;
  padding-top: 1px;
  margin-bottom: 38px;
}

.benefits__item:last-child .benefits__icon {
  width: 58px;
  height: 58px;
  padding-top: 8px;
  margin-bottom: 45px;
}

.benefits__header {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.benefits__text {
  max-width: 317px;
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

/*===== inspired styles =====*/

.inspired {
  padding-bottom: 139px;
}

.inspired__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.inspired__title {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 2px;
    width: 253px;
    background-color: var(--color-light-blue);
  }
}
.inspired__1 {
  grid-area: insp1;
}

.inspired__2 {
  grid-area: insp2;
}

.inspired__3 {
  grid-area: insp3;
}

.inspired__4 {
  grid-area: insp4;
}

.inspired__5 {
  grid-area: insp5;
}

.inspired__gallery {
  display: grid;
  grid-template-areas:
    "insp1 insp1 insp1 insp2 insp2 insp2"
    "insp3 insp3 insp4 insp4 insp5 insp5";
  grid-template-rows: 354px 283px;
  gap: 10px;
  margin-bottom: 130px;
}

.inspired__item {
  position: relative;
  overflow: hidden;
}

.inspired__img {
  width: 100%;
  height: 100%;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inspired__name {
  position: absolute;
  bottom: 29px;
  left: 27px;
  z-index: 10;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--font-light);
  transition: opacity 0.2s linear;
  opacity: 1;
}

.inspired__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(21, 24, 36, 0.4);
  transition: opacity 0.2s linear;
  opacity: 1;
}

.inspired__item:hover .inspired__overlay,
.inspired__item:hover .inspired__name {
  opacity: 0;
}

.inspired__places {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inspired__place {
  display: grid;
  column-gap: 8.54%;
}

.inspired__first {
  grid-template-columns: 47.23% 41.06%;
  grid-template-rows: 354px;
  margin-bottom: 77px;
}

.inspired__second {
  grid-template-columns: 41.06% 47.23%;
  justify-content: flex-end;
}

.inspired__picture {
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inspired__info {
  padding-top: 26px;
}

.inspired__header {
  max-width: 357px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: var(--font-dark);
}

.inspired__about {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-dark);
}

.inspired__first {
  & .inspired__header {
    margin-bottom: 85px;
  }

  & .inspired__about {
    margin-bottom: 58px;
  }
}

.inspired__second {
  & .inspired__header {
    margin-bottom: 45px;
  }

  & .inspired__about {
    margin-bottom: 94px;
  }
}

/*===== places styles =====*/

.places {
  padding-bottom: 144px;
}

.places__title {
  margin-bottom: 64px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 2px;
    width: 253px;
    background-color: var(--color-light-blue);
  }
}

.places__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px;
}

.places__img {
  position: relative;
  margin-bottom: 45px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.places__info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: rgba(21, 24, 36, 0.6);
  color: var(--font-light);
  opacity: 1;
  transition: opacity 0.2s linear;
}

.places__item:hover .places__info {
  opacity: 0;
}

.places__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.places__statistic {
  display: flex;
  justify-content: space-between;

  & img:nth-child(2) {
    margin-right: 14px;
  }
}

.places__counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &:first-child {
    margin-right: 4px;
  }

  &:nth-child(3) {
    margin-right: 9px;
  }
}

.places__text {
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-dark);
}

.places__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 42px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--font-light);
  background-color: var(--color-blue);
  transition: all 0.2s linear;

  &:hover {
    background-color: var(--color-light-blue);
  }
}

/*===== video styles =====*/

.video {
  height: 610px;
  position: relative;
}

.video__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s linear;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.video__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/*===== footer styles =====*/

.footer {
  padding: 119px 0 118px;
  background-color: #0e1d28;
}

.footer__container {
  max-width: 1106px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__logo {
  padding-left: 27px;
  & a {
    outline: none;
  }
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-light);
}

.footer__link {
  margin-bottom: 3px;

  & a {
    position: relative;
    color: var(--font-light);
    font-size: 16px;
    line-height: 24px;
  }

  & a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--font-light);
    opacity: 0;

    transition: all 0.2s linear;
  }

  & a:hover::after {
    opacity: 1;
  }
}

/*===== adaptive styles max-width 991px =====*/

@media (max-width: 991px) {
  .intro__search {
    display: block;
  }

  .intro__what,
  .intro__where {
    min-width: auto;
    max-width: 50%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .benefits {
    padding: 100px 0;
  }

  .benefits__wrapper {
    padding: 90px 40px;
  }

  .benefits__title {
    margin-bottom: 90px;
  }

  .benefits__list {
    column-gap: 30px;
  }

  .benefits__header {
    min-height: 48px;
  }

  .inspired__place {
    column-gap: 6.54%;
  }

  .inspired__first {
    grid-template-columns: 47.23% 43.06%;
  }

  .inspired__second {
    grid-template-columns: 43.06% 47.23%;
  }

  .inspired__first .inspired__header {
    margin-bottom: 30px;
  }

  .inspired__first .inspired__about {
    margin-bottom: 40px;
  }

  .inspired__second .inspired__header {
    margin-bottom: 30px;
  }

  .inspired__second .inspired__about {
    margin-bottom: 40px;
  }

  .places {
    padding-bottom: 120px;
  }

  .places__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }

  .video {
    height: 500px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer__container {
    grid-template-columns: 2fr 3fr;
  }
}

/*===== adaptive styles max-width 767px =====*/

@media (max-width: 767px) {
  .intro {
    padding: 60px 0 250px;
  }

  .intro__menu {
    width: auto;
  }

  .intro__link {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .intro__main {
    padding-top: 120px;
  }

  .intro__what,
  .intro__where {
    max-width: 70%;
    margin-bottom: 40px;
  }

  .benefits__wrapper {
    padding: 80px;
  }

  .benefits__list {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .inspired__intro {
    display: block;
  }

  .inspired__title {
    margin-bottom: 40px;
  }

  .inspired__link {
    margin: 0 0 0 auto;
  }
  .inspired__gallery {
    display: block;
    margin-bottom: 80px;
  }

  .inspired__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .inspired__place {
    display: flex;
    flex-wrap: wrap;
  }

  .inspired__picture {
    height: 350px;
  }

  .inspired__info {
    margin-bottom: 15px;
  }

  .inspired__first {
    margin-bottom: 60px;

    & .inspired__info {
      order: 1;
    }

    & .inspired__picture {
      order: 2;
    }
  }

  .places__wrapper {
    gap: 30px;
  }

  .video {
    height: 450px;
  }

  .footer {
    padding: 80px 0;
  }
}

/*===== adaptive styles max-width 575px =====*/

@media (max-width: 575px) {
  .title {
    font-size: 28px;
  }

  .intro {
    padding: 40px 0 250px;
  }

  .intro__main {
    padding-top: 100px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 40px;
  }

  .wide__menu {
    display: none;
  }

  .intro__burger {
    display: block;
  }

  .intro__what,
  .intro__where {
    max-width: 100%;
  }

  .input__block label {
    font-size: 16px;
  }

  .benefits__wrapper {
    padding: 20px 10px;
  }

  .benefits__title {
    margin-bottom: 70px;
  }

  .benefits__icon {
    margin-bottom: 25px;
  }

  .benefits__header {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .inspired {
    padding-bottom: 80px;
  }

  .inspired__name {
    font-size: 30px;
  }

  .inspired__picture {
    height: 280px;
  }

  .places {
    padding-bottom: 80px;
  }

  .places__wrapper {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .video {
    height: 280px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__container {
    display: block;
    padding: 10px;
  }

  .footer__logo {
    padding-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__nav {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
}
