@import "./reset.css";
/* lato regular */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* lato medium */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Lato-Medium.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* lato bold */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/*===== variables =====*/
:root {
  --font-dark: #102746;
  --font-light: #fff;
  --color-blue: #1b7dff;
  --color-light-blue: #006dfe;
}

/*===== main styles =====*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--font-dark);
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: var(--font-dark);
}

.more__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.more__link span {
  margin-right: 26px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-blue);
}
.more__link img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.more__link:hover img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/*===== intor styles =====*/
.intro {
  padding: 60px 0 372px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 66, 103, 0.0001)), color-stop(95.04%, #151824)), url("./../images/intro-bg.png") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%), url("./../images/intro-bg.png") center/cover no-repeat;
}

.intro__container {
  max-width: 1070px;
  margin: 0 auto;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__logo {
  position: relative;
  width: 102px;
}
.intro__logo img {
  display: block;
  width: 100%;
  height: auto;
}
.intro__logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.intro__menu {
  width: 45.8%;
}
.intro__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__link a {
  position: relative;
  color: var(--font-light);
  font-size: 18px;
}
.intro__link a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--font-light);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.intro__link a:hover::after {
  opacity: 1;
}

.intro__main {
  padding-top: 176px;
}

.intro__title {
  max-width: 620px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: var(--font-light);
}

.intro__subtitle {
  max-width: 550px;
  margin-bottom: 54px;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-light);
}

.intro__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__what,
.intro__where {
  min-width: 297px;
  margin-right: 60px;
}

#input-what,
#input-where {
  display: none;
}
#input-what:checked + .checkbox__btn div,
#input-where:checked + .checkbox__btn div {
  display: block;
}

.checkbox__btn {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--font-light);
  border-radius: 50%;
}
.checkbox__btn div {
  display: none;
  width: 10px;
  height: 10px;
  background-color: var(--font-light);
  border-radius: 50%;
}

.input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input__block label {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-light);
  cursor: pointer;
}

.intro__input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  color: var(--font-light);
}

.search__btn {
  width: 171px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--font-light);
  background-color: var(--color-blue);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search__btn:hover {
  background-color: var(--color-light-blue);
}

/*===== benefits styles =====*/
.benefits {
  padding: 136px 0 131px;
}

.benefits__wrapper {
  padding: 93px 100px 112px;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  margin-bottom: 120px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}

.benefits__icon {
  margin-bottom: 37px;
}
.benefits__icon img {
  display: block;
  width: 100%;
  height: auto;
}

.benefits__item:first-child .benefits__icon {
  width: 66px;
  height: 66px;
}

.benefits__item:nth-child(2) .benefits__icon {
  width: 65px;
  height: 65px;
  padding-top: 1px;
  margin-bottom: 38px;
}

.benefits__item:last-child .benefits__icon {
  width: 58px;
  height: 58px;
  padding-top: 8px;
  margin-bottom: 45px;
}

.benefits__header {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.benefits__text {
  max-width: 317px;
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

/*===== inspired styles =====*/
.inspired {
  padding-bottom: 139px;
}

.inspired__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}

.inspired__title {
  position: relative;
}
.inspired__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  height: 2px;
  width: 253px;
  background-color: var(--color-light-blue);
}

.inspired__1 {
  grid-area: insp1;
}

.inspired__2 {
  grid-area: insp2;
}

.inspired__3 {
  grid-area: insp3;
}

.inspired__4 {
  grid-area: insp4;
}

.inspired__5 {
  grid-area: insp5;
}

.inspired__gallery {
  display: grid;
  grid-template-areas: "insp1 insp1 insp1 insp2 insp2 insp2" "insp3 insp3 insp4 insp4 insp5 insp5";
  grid-template-rows: 354px 283px;
  gap: 10px;
  margin-bottom: 130px;
}

.inspired__item {
  position: relative;
  overflow: hidden;
}

.inspired__img {
  width: 100%;
  height: 100%;
}
.inspired__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inspired__name {
  position: absolute;
  bottom: 29px;
  left: 27px;
  z-index: 10;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--font-light);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}

.inspired__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(21, 24, 36, 0.4);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}

.inspired__item:hover .inspired__overlay,
.inspired__item:hover .inspired__name {
  opacity: 0;
}

.inspired__places {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inspired__place {
  display: grid;
  -webkit-column-gap: 8.54%;
     -moz-column-gap: 8.54%;
          column-gap: 8.54%;
}

.inspired__first {
  grid-template-columns: 47.23% 41.06%;
  grid-template-rows: 354px;
  margin-bottom: 77px;
}

.inspired__second {
  grid-template-columns: 41.06% 47.23%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inspired__picture {
  width: 100%;
  height: 100%;
}
.inspired__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inspired__info {
  padding-top: 26px;
}

.inspired__header {
  max-width: 357px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: var(--font-dark);
}

.inspired__about {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-dark);
}

.inspired__first .inspired__header {
  margin-bottom: 85px;
}
.inspired__first .inspired__about {
  margin-bottom: 58px;
}

.inspired__second .inspired__header {
  margin-bottom: 45px;
}
.inspired__second .inspired__about {
  margin-bottom: 94px;
}